#header {
	color:#7B9E0D;
	text-align: center;
	min-width: 500px;
}
#body {
	padding-left: 250px;
	padding-right: 240px;
	padding-top: 40px;
	min-width: 500px;
}
footer{
	color:#cfcfcf;
	text-align: center;
}
.grey{
	color:#6B6B6B;
}

.light-grey{
	color:#BABABA;
}

.green{
	color:#7B9E0D;
}

.small-font{  
    font-size: 14px;
}
.header1 {
	font-size: 20px;
	margin-top: 40px;
}

.hidden{
	display: none;
}
.expand:hover{
	background-color: transparent;
    text-decoration: underline;
}



@media screen and (max-width: 1270px) {
    #body {
        padding-left: 2%;
        padding-right:2%;
        padding-top: 40px;
        min-width: 400px;
    }
    .hide{
		display: none;
	}
}

a:link {
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    background-color: transparent;
    text-decoration: none;
}


<!-- Franklin Gothic Font -->
h1 {
	font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-size: 48px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	margin:0px;
}
h5 {
	font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	margin: 0px;
}
p {
	font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	margin: 0px;
}
blockquote {
	font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

