#header {
	color:#7B9E0D;
	text-align: center;
	min-width: 400px
}
#body {
	padding-left: 250px;
	padding-right: 240px;
	padding-top: 40px;
}
footer{
	color:#cfcfcf;
	text-align: center;
}
.grey{
	color:#6B6B6B;
}

em {  /* or .call em, but you should aim for consistency in your styling */
    font-size: 12px;
}

@media screen and (max-width: 1000px) {
    #body {
        padding-left: 0px;
        padding-right:0px;
        padding-top: 40px;
        min-width: 400px;
    }
    .hidden{
    	display: none;
    }
}

a:link {
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    background-color: transparent;
    text-decoration: none;
}


<!-- Franklin Gothic Font -->
h1 {
	font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-size: 48px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	margin:0px;
}
h5 {
	font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	margin: 0px;
}
h5.red:hover {
	color:#FF6666;
}
h5.orange:hover {
	color:#FFB870;
}
h5.yellow:hover {
	color:#FFFF00;
}
h5.green:hover {
	color:#99FF66;
}
h5.blue:hover {
	color:#94FFFF;
}
h5.purple:hover {
	color:#DFBFFF;
}
p {
	font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	margin: 0px;
}
blockquote {
	font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

