div.content {
 width: 1500px
 background: #E0E0E0; 
}

#header {
	background: #2196F3;
	float: left;
	width: 30%;
}
#body {
	background: #E0E0E0;
	float: right;
	width: 70%;
}
footer{
	color:#cfcfcf;
	text-align: center;
}

.cards{
	box-shadow: 3px 4px 2px #A1A1A1;
	background: #ffffff;
}

.flexbox {      
  display: -webkit-flex;        
  display: -ms-flexbox;     
  display: flex;
  overflow: hidden;
}
.flexbox .col {
  padding: 20px;
}
.flexbox .col:nth-child(2) {
          order: 1;
}
.flexbox .col:nth-child(1) { 
          order: 0;
}

body {
}
.grey{
	color:#6B6B6B;
}

.light-grey{
	color:#BABABA;
}

.blue{
	color:#2196F3;
}

.white{
	color:#ffffff;
}

.small-font{  
    font-size: 14px;
}
.header1 {
	font-size: 20px;
	margin-top: 40px;
}
.margin-left-icons{
	margin-left: 20px;
	padding-top: 10px;
	display: inline-block;
	vertical-align: middle;
	line-height: normal; 
}

.hidden{
	display: none;
}
.expand:hover{
	background-color: transparent;
    text-decoration: underline;
}



@media screen and (max-width: 1270px) {
    #body {
        padding-left: 2%;
        padding-right:2%;
        padding-top: 40px;
        min-width: 400px;
    }
    .hide{
		display: none;
	}
}

a:link {
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    background-color: transparent;
    text-decoration: none;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	margin:8px;
}
h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #595959;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	margin:8px;
}
h5 {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	margin: 0px;
}
p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	color: #828282;
	margin: 8px;
}
blockquote {
	font-family: 'Roboto', sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

